@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="contact">
                <Button Color="ButtonColor.Primary" Size="Size.Large"> <span class="oi oi-chat" aria-hidden="true"></span>  Send me a message </Button>
            </a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
