@page "/counter"

<PageTitle>@title</PageTitle>

<h1>@title</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;
    private string title = "Services";

    private void IncrementCount()
    {
        currentCount++;
    }
}
