@page "/languages"

<PageTitle>Skills and Languages</PageTitle>

<h1>Skills And Languages</h1>

<h3>Skills</h3>
<p>An other reason to choose me is my skills!</p>
<p>I have experience making and maintaining .NET applications for various customers.</p>
<p>Below you can see the skills I have with the different programming languages/ solutions:</p>
<div class="skill">
    <label>C#:</label>
    <Progress Class="mb-3">
        <ProgressBar Color="ProgressColor.Success" Width="80" />
    </Progress>
</div>
<div class="skill">
    <label>HTML & CSS:</label>
    <Progress Class="mb-3">
        <ProgressBar Color="ProgressColor.Success" Width="80" />
    </Progress>
</div>
<div class="skill">
    <label>Javascript:</label>
    <Progress Class="mb-3">
        <ProgressBar Color="ProgressColor.Success" Width="60" />
    </Progress>
</div>
<div class="skill">
    <label>Java:</label>
    <Progress Class="mb-3">
        <ProgressBar Color="ProgressColor.Success" Width="60" />
    </Progress>
</div>
<div class="skill">
    <label>Kotlin:</label>
    <Progress Class="mb-3">
        <ProgressBar Color="ProgressColor.Success" Width="40" />
    </Progress>
</div>
<div class="skill">
    <label>Cloud technologies:</label>
    <Progress Class="mb-3">
        <ProgressBar Color="ProgressColor.Success" Width="50" />
    </Progress>
</div>

<hr />

<h3>Languages</h3>
<p>Below the languages I speak:</p>
<div class="skill">
    <label>Dutch (my mother tongue):</label>
    <Progress Class="mb-3">
        <ProgressBar Color="ProgressColor.Success" Width="100" />
    </Progress>
</div>
<div class="skill">
    <label>Dutch (my mother tongue):</label>
    <Progress Class="mb-3">
        <ProgressBar Color="ProgressColor.Success" Width="100" />
    </Progress>
</div>
<div class="skill">
    <label>English:</label>
    <Progress Class="mb-3">
        <ProgressBar Color="ProgressColor.Success" Width="90" />
    </Progress>
</div>
<div class="skill">
    <label>German:</label>
    <Progress Class="mb-3">
        <ProgressBar Color="ProgressColor.Success" Width="70" />
    </Progress>
</div>
<div class="skill">
    <label>French:</label>
    <Progress Class="mb-3">
        <ProgressBar Color="ProgressColor.Success" Width="70" />
    </Progress>
</div>
<div class="skill">
    <label>Japanese:</label>
    <Progress Class="mb-3">
        <ProgressBar Color="ProgressColor.Success" Width="40" />
    </Progress>
</div>
<hr />

@code {

}
