@page "/testimonies"
@inject HttpClient Http

<PageTitle>@title</PageTitle>

<h1>@title</h1>

<p>Since I only just started I have no testimonies yet.</p>
<p>I am looking forward to seeing some of your testimonies here!</p>

@code {
    private string title = "Testimonies";
  
}
